
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-4 flex">
      <img class="avatar-profile" src=<%= @user.image_url %> >
    </div>
    <div class="col-sm-4 user-info">
      <p><%= @user.username %> </p>
      <p><%= @user.name %> </p>
    </div>
    <div class="col-sm-4 user-stats">
      <p>Total posts: <%= @posts.count %> </p>
      <p>Points earned: TBU </p>
      <p>Points per post: TBU</p>
    </div>



  </div>
</div>

<hr>

<div id="my-posts">
  <%= render @posts.order(created_at: :desc) %>
</div>

