<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field(:post, :photo_url) %>
<%= hidden_field(:post, :link) %>
<%= hidden_field(:post, :vanity_link) %>

<div class="col-xs-12">
  <div id="new-post-form" class="thumbnail">
    <div class="pull-right post-image-holder flex">
      <img class="post-image" src="<%= @post.photo_url %>" alt="...">
    </div>
    <div class="caption caption-edit">
      <h3 class="full-width" ><%= f.text_field :title, :placeholder => "Title", :class => "post-form-title" %></h3>
      <p><%= text_area(:post, :summary, cols: 40, rows: 4, :placeholder => "Summary Text", :class => "post-form-summary") %></p>

      <p><small><em><%= @post.vanity_link%></em></small></p>
    </div>
  <%= f.submit "Post Link!", :class => "btn btn-success pull-left post-link" %>
  </div>
</div>

<% end %>
