<div class="col-xs-12">
  <div class="thumbnail">
    <a href="<%=post.link%>" target="_blank">
      <div class="pull-right post-image-holder flex">
        <img class="post-image" src="<%= post.photo_url %>" alt="...">
      </div>
    </a>
    <div class="caption">
      <a href="<%=post.link%>" target="_blank"><h3><%=post.title%></h3></a>
      <p><%= truncate(strip_tags(post.summary), length: 250) %></p>
      <p><small><em>
        <%= post.vanity_link %>  |
        <%= time_ago_in_words(post.created_at) %> |
        <a href='/users/<%=post.username%>'><%=post.username%></a>
      </em></small></p>
      <div class="meta-bar">
        <a><span post_id="<%= post.id %>" class="glyphicon glyphicon-thumbs-up like-button <%= 'already-liked' if post.current_user_voted %>"></span></a> <span class="score-number"><%= post.upvotes %></span>pts
      </div>
    </div>
  </div>
</div>