<!DOCTYPE html>
<html>
<head>
  <title>educator.today</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse first-nav">
  <div class="container">
    <div class="navbar">
      <div class="pull-right">
        <% if current_user %>
          <%= image_tag current_user.image_url, alt: current_user.name, class: 'avatar-small pull-right', id: 'avatar-dropdown', :"type" => 'button', :"data-toggle" => 'collapse', :"data-target" => '#avatar-menu' %>

          <ul class="dropdown-menu pull-right" id="avatar-menu">
            <li class=""><%= link_to 'My Profile', 'users/' + current_user.username %></li>
            <li role="separator" class="divider"></li>
            <li class=""><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <button type="button" class="btn-lg btn-primary btn login-button pull-right" data-toggle="modal" data-target="#loginModal">
            Login
          </button>
        <% end %>
        <span class=" btn-lg btn-primary glyphicon glyphicon-th-list pull-right sort-button" id='sort-dropdown' type:'button' data-target="#sort-menu" data-toggle="collapse"></span>
        <ul class="dropdown-menu pull-right" id="sort-menu" role="menu">
            <li class=""><a href="/?sort=rank">Highest Rank</a></li>
            <li class=""><a href="/?sort=newest">Newest</a></li>
        </ul>
      </div>


      <a href="/" class='navbar-brand'>
        <%= image_tag "educator-today.png", alt: 'educator.today', class: 'main-logo' %>
      </a>
    </div>
  </div>
</nav>

<% if current_user %>
  <nav class="navbar navbar-inverse second-nav flex full-width">
    <div id="second-nav-container" class="container">
      <div id="share-link-main-group" class="input-group">
        <input id="link-input" type="url" name="link" placeholder="http://www.mylink.com" class="form-control">
        <span class="input-group-btn">
          <button id="preview-post-button" class="btn btn-success" type="button">Preview Post</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </nav>
<% end %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <!-- <p>Copyright 2016</p> -->
  </div>
</nav>

<!-- login MODAL -->
<% unless current_user %>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header flex">
          <%= image_tag "educator-today.png", alt: 'teachers.today', class: 'main-logo' %>
        </div>
        <div class="modal-header flex">
          <h3>Please sign-in:</h3>
        </div>

        <div class="modal-body log-in flex">
          <div>
            <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <a href="/auth/google" class="btn btn-block btn-social btn-google">
              <span class="fa fa-google"></span> Sign in with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

</body>
</html>
