<!DOCTYPE html>
<html>
<head>
  <title>teachers.today</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse first-nav">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class='navbar-brand'>
        <%= image_tag "teachers-today.png", alt: 'teachers.today', class: 'main-logo' %>
      </a>
    </div>
    <div id="navbar">
      <% if current_user %>
        <div class="nav navbar-nav pull-right">
          <div class="dropdown">

            <%= image_tag current_user.image_url, alt: current_user.name, class: 'avatar-small', id: 'avatar-dropdown', :"type" => 'button', :"data-toggle" => 'dropdown', :"aria-haspopup" => 'true', :'aria-expanded' => 'false' %>

            <ul class="dropdown-menu" aria-labelledby="avatar-dropdown">
              <li><%= link_to 'My Profile', 'users/' + current_user.username %></li>
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>

          </div>
        </div>
      <% else %>
        <div class="nav navbar-nav pull-right">
            <div class="btn success">
              <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#loginModal">
                Login
              </button>

            </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<% if current_user %>
  <nav class="navbar navbar-inverse second-nav flex full-width">
    <div id="second-nav-container" class="container">
      <div id="share-link-main-group" class="input-group">
        <input id="link-input" type="url" name="link" placeholder="http://www.mylink.com" class="form-control">
        <span class="input-group-btn">
          <button id="preview-post-button" class="btn btn-success" type="button">Preview Post</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </nav>
<% end %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <!-- <p>Copyright 2016</p> -->
  </div>
</nav>

<!-- LOGIN MODAL -->
<% unless current_user %>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
          <a href="/auth/google" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>


</body>
</html>
